.latest-release {
    margin-top: 20px;
  }
  .latest-release .heading{
    color: antiquewhite;
    margin: auto;
}
.cards {
    display: flex;
    /* justify-content: space-between; */
  }
  .card {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block; 
    vertical-align: top;
    margin:2%
  }

  .latest-release .card:not(:last-child) {
    margin-right: 2%;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  

  .description {
    padding: 10px;
    text-align: center;
    color: antiquewhite;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .overlay button {
    background-color: transparent;
    border: none;
    font-size: 4em;
    position: absolute;
    bottom: 0px; /* Position the button at the bottom */
    right: 0px; /* Position the button at the right */
    left: 60%;
    top: 35%;
  }

  .overlay button i{
    color: #00B4CC;
  }
  .card:hover .overlay {
    display: block;
  }
  .card {
    position: relative;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Adjust the gradient colors and opacity as needed */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition effect */
  }
  
  .card:hover::before {
    opacity: 1; /* Show the overlay on hover */
  }
  
  .latest-release img {
    width: 100%; /* Set a fixed width */
    height: 80%; /* Set a fixed height */
    object-fit: cover;
    /* mix-blend-mode: exclusion; */
  }
  